@tailwind base;
@tailwind components;
@tailwind utilities;

.my-icon {
   color: #eeefff;
   width: 3rem;
   height: 3rem;
   margin: auto;
   margin: 10px;
   cursor: pointer;
   transition: ease-in-out 0.5s;
   transform: scale(0.9) rotateZ(0deg);
   &:hover {
      transition: ease-in-out 0.5s;
      transform: scale(1.1) rotateZ(30deg);
   }
}

.fr {
   padding-top: 3px;
   border: 3px solid #eeefff;
   border-radius: 10px;
   color: #444;
   background-color: #eeefff;
}

.swiper {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
